* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 21, 24, 1);
  height: 100vh;
}

#root {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-container {
  max-width: 412px;
  height: 416px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(35, 42, 52, 1),
    rgba(24, 30, 39, 1)
  );
  padding: 32px;
  border-radius: 30px;
  position: relative;
  transition: 1s;
}

.ratings-btn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ratings {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.off,
.on {
  min-width: 51px;
  height: 51px;
  border-radius: 100%;
  background-color: rgba(38, 46, 56, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: rgba(124, 135, 152, 1);
  cursor: pointer;
  margin-top: 25px;
  transition: 1s;
}

.on {
  background-color: rgba(252, 118, 20, 1);
}

.off:hover {
  background-color: rgba(124, 135, 152, 0.5);
}

.result-container {
  max-width: 193px;
  width: 100%;
  height: 32px;
  background-color: rgba(38, 46, 56, 1);
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: rgba(252, 118, 20, 1);
  justify-self: center;
  margin-top: 36px;
}

.texts-container,
.center-texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.center-texts {
  text-align: center;
}

.phone-img {
  display: flex;
  justify-self: center;
}

.btn {
  max-width: 341px;
  width: 100%;
  height: 45px;
  border-radius: 22.5px;
  background-color: rgba(252, 118, 20, 1);
  color: white;
  transition: 1s;
  border: 0px;
  bottom: 32px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: rgba(252, 118, 20, 1);
}

@media only screen and (max-width: 410px) {
  .main-container {
    padding: 16px;
  }
}
