.rating-container {
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background-color: rgba(38, 46, 56, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: rgba(124, 135, 152, 1);
  cursor: pointer;
  margin-top: 25px;
  transition: 1s;
}

.rating-container:hover {
  background-color: rgba(124, 135, 152, 0.5);
}
